<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div *ngFor="#work of works" class="item col-lg-4 col-sm-6" data-id="{{work.id}}">
                <div class="portfolio-box">
                    <img src="{{work.imageUrl}}" class="img-responsive" alt="siteName">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{work.workType}}
                            </div>
                            <div class="project-name">
                                {{work.siteName}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>