<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact me now!</h2>
                <hr class="primary">
                <p>If you have a great idea and you know what do you want to create please contact me and we will discuss details.</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>+996 555 900-375</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="nikita.omen666@gmail.com">nikita.omen666@gmail.com</a></p>
            </div>
        </div>
    </div>
</section>